* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg: #161b22;
  --text: #dcdde4;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  max-width: 1300px;
  background-color: var(--bg);
  color: var(--text);
}
